<?xml version="1.0"?>
<sdf version="1.8">

  <xmacro_define_value name="m" value="0.01" />
  <xmacro_define_value name="r" value="0.02" />
  <xmacro_define_value name="z" value="0.005" />

  <model name="sample_cylinder">
    <link name="base">
      <inertial>
        <mass>${m}</mass>
        <inertia>
          <ixx>${m*(3*r*r+z*z)/12}</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <ixx>${m*(3*r*r+z*z)/12}</ixx>
          <iyz>0</iyz>
          <ixx>${m*(r*r)/2}</ixx>
        </inertia>
      </inertial>

      <visual name="base_visual">
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <cylinder>
            <radius>${r}</radius>
            <length>${z}</length>
          </cylinder>
        </geometry>
        <material>
          <ambient>0.659 0.839 0.514 1</ambient>
          <diffuse>0.659 0.839 0.514 1</diffuse>
          <specular>0 0 0 0</specular>
          <emissive>0 0 0 1</emissive>
        </material>
      </visual>

      <collision name="base_collision">
        <pose>0 0 0 0 0 0 </pose>
        <geometry>
          <cylinder>
            <radius>${r}</radius>
            <length>${z}</length>
          </cylinder>
        </geometry>

        <!-- <drake:proximity_properties>
          <drake:compliant_hydroelastic/>
          <drake:mesh_resolution_hint>0.005</drake:mesh_resolution_hint>
          <drake:hydroelastic_modulus>1e5</drake:hydroelastic_modulus>
          <drake:hunt_crossley_dissipation>1</drake:hunt_crossley_dissipation>
          <drake:mu_static>0.4</drake:mu_static>
          <drake:mu_dynamic>0.4</drake:mu_dynamic>
        </drake:proximity_properties> -->

      </collision>
    </link>
  </model>
</sdf>
